<div class="row">
  <div *ngFor="let item of character" class="col-12 col-lg-4 my-4">

    <div class="card">

      <img [src]="item.image" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center text-uppercase">{{item.name}}</h5>
      </div>

      <div class="accordion" id="accordionExample">
        <div class="card">

          <h5 class="card-title text-center my-2"><b>Información del personaje </b></h5>

            <div class="card-body">
              <p><b>Género:</b> {{ (item.gender == '') ? 'Sin Información' : (item.gender) }}</p>
              <p><b>Especie:</b> {{ (item.species == '') ? 'Sin Información' : (item.species) }}</p>
              <p><b>Estado:</b> {{ (item.status == '') ? 'Sin Información' : (item.status) }}</p>
              <p><b>Tipo:</b> {{ (item.type == '') ? 'Sin Información' : (item.type) }}</p>
            </div>

        </div>
      </div>

      <div class="card-footer text-muted text-center">
       <p><b>Fecha de Creación:</b> {{item.created | date: 'dd-MM-yyyy'}}</p>
      </div>

    </div>

  </div>
</div>

